*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Poppins", system-ui;
}
html,
body {
    height:100%;
    width:100%;
    font-size: 20px;
    font-weight: 500;
}

/* .myClass{
    color: rgb(0, 0, 0);   
    width: 100%; 
} */